.sidebar-link{
    color: white
}

.sidebar-link:hover{
    color: white
}

.sidebar-icon{
    width: 20px;
    height: 16px;
}


.sidebar-menu{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    margin-left: 0px; 
    background-color: #3a3a3a;
}

.sidebar-group{
    padding-left: 25px
}

.crud-btn {
    float: left;
    margin-top: 2px;
    margin-right: 7px;
}

.formato-btn {
    height: 35px;
    padding-top: 10px;
}